<!DOCTYPE html>
<html>
    <head>
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> -->
        <link rel="stylesheet" href="css/stylesheet.css">
    </head>
    <body>


        <div id="map-main-info-overlay" class="overlay map-main-info-overlay" onclick="overlayHeightToggle( 'map-main-info-overlay' );">
            something this something that
        </div>
        <div id="map-canvas" class="map-canvas"></div>

        <div id = "no-geoloation-wrap" class="no-geolocation-wrap">
            <div class=" overlay no-geolocation-prompt">
                where are you?
                <form onsubmit="return manualLocationInput( 'no-geolocation-prompt-input' );">
                    <input type="text" class="no-geolocation-prompt-input" id="no-geolocation-prompt-input">
                    <br>
                    <input type="submit" class="no-geolocation-prompt-submit" id="no-geolocation-prompt-submit">
                </form>
            </div>
        </div>


        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYbk1deYkS-RaJV45xOxm2z5TQHA9r6V8"></script>
        <script type="text/javascript" src="js/browseMapScript.js"></script>
    </body>
</html>
