*:focus {
  outline: solid 0 #1b1b1e;
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important; }

html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

body {
  text-align: center;
  color: #e6e6e6;
  background-color: #535555;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; }

a {
  color: #e6e6e6;
  text-decoration: none; }

a:hover {
  color: #bbb; }

a:visited {
  color: #e6e6e6; }

a h3:hover {
  color: #bbb; }

.hidden-submit {
  display: none; }

.add-location-input-elem {
  width: 100%;
  /*background-color: #e6e6e6;*/
  text-align: right;
  height: 1.5em; }

.add-location-form input {
  width: 49%;
  height: 1.5em;
  /*height: fill;*/
  float: right;
  margin-left: .5%;
  padding-left: .5%;
  background-color: #fafafa;
  border: none; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

.browse-maps {
  background-image: url("../img/background.png");
  background-size: cover; }

.tiny {
  font-size: 10px;
  position: absolute;
  bottom: 20px; }

.user-location-prompt-container {
  width: 100%;
  max-width: 300px;
  height: 100px;
  margin: auto;
  margin-top: 250px;
  background-color: #e6e6e6;
  color: #1b1b1e;
  padding: 20px; }

.hide {
  display: none; }

.map-canvas {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  /*background-color: black;*/
  display: none;
  overflow: hidden; }

.no-geolocation-wrap {
  width: 100%;
  height: 100%;
  /*padding-top:  15%;*/
  /*background-color: blue;*/
  background-image: url("../img/background.png");
  background-size: cover;
  overflow: hidden; }

/*.no-geolocation-prompt {
    color: #e6e6e6;
}*/
.map-main-info-overlay {
  position: absolute;
  width: 90%;
  height: 50px;
  left: 5%;
  bottom: -3px;
  border-bottom: 0;
  transition: top 0.25s ease;
  transition: height 0.25s ease;
  display: none;
  z-index: 9;
  overflow: auto; }

.overlay {
  background-color: white;
  border-radius: 2px;
  color: #1b1b1e;
  box-shadow: 3px 3px 12px -1px #555; }

.no-geolocation-prompt {
  width: 400px;
  height: 200px;
  margin: auto;
  margin-top: 10%;
  /*padding: 15px;*/ }

.no-geolocation-prompt p {
  display: inline-block;
  /*background-color: white;*/
  margin: 20px 0 10px 0; }

.browse-page-wrapper {
  width: 100%;
  height: 100%; }

.map-main-info-overlay {
  overflow: hidden; }

.main-overlay-right {
  float: right;
  width: 40%; }

.main-overlay-left {
  float: left;
  width: 60%; }

.overlay-content {
  display: none;
  min-height: 100%;
  margin: 15px 30px; }

.overlay-content-min-inside {
  display: block; }

.chevron {
  display: none;
  position: absolute;
  top: 50px;
  z-index: 9999; }

.chevron:hover {
  cursor: pointer; }

.chevron-left {
  left: 0; }

.chevron-right {
  right: 0; }

/*# sourceMappingURL=stylesheet.css.map */
