<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="css/stylesheet.css"/>
    </head>
    <body>
        <% if( addAnother ) { %>
            entry added successfully. <br>
        <% } else { %>
            <br>
        <% } %>
        Add a location to the database.<br>
        <form id="uploadForm" enctype="multipart/form-data" action="" method="post">
        <!-- <form action="" method="post" class="add-location-form"> -->
            <div>
                place: <input type="text" name="place"><br>
            </div>
            <div>
                address: <input type="text" name="address"><br>
            </div>

            delivers?
            <input type="checkbox" name="delivery"><br><br>

            hours (24-hr format plz)<br>
            monday<br>

            <div id="monday-input">
                open: <input type="text" name="hours.mon">
                close: <input type="number" name="hours.mon"><br><br>
            </div>
            tuesday<br>
            <div id="tuesday-input">
                open: <input type="text" name="hours.tue">
                close: <input type="number" name="hours.tue"><br><br>
            </div>
            wednesday<br>
            <div id="wednesday-input">
                open: <input type="text" name="hours.wed">
                close: <input type="number" name="hours.wed"><br><br>
            </div>
            thursday<br>
            <div id="thursday-input">
                open: <input type="text" name="hours.thu">
                close: <input type="number" name="hours.thu"><br><br>
            </div>
            friday<br>
            <div id="friday-input">
                open: <input type="text" name="hours.fri">
                close: <input type="number" name="hours.fri"><br><br>
            </div>

            saturday<br>
            <div id="saturday-input">
                open: <input type="text" name="hours.sat">
                close: <input type="number" name="hours.sat"><br><br>
            </div>
            sunday<br>
            <div id="sunday-input">
                open: <input type="text" name="hours.sun">
                close: <input type="number" name="hours.sun"><br><br>
            </div>

            upload image<br>
            <input type="file" name="locationPhoto"><br><br>

            <input  class="submit-button" type="submit" value="submit">
        </form><br>
        <!-- <div style="width:100px;height:50px;background-color:gray;color:black;margin:auto;" onclick="fucks();"> -->
        <script src="js/open-script.js"></script>
    </body>
</html>
