<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body class="browse-maps" style="overflow:hidden!important;">

    <!-- <div class="overflow-kill" style="overflow:hidden;">
        <img src="img/background.png" alt="background image" class="browse-maps-bg-img"/>
    </div> -->

    <div class="user-location-prompt-container">
        where are you?
        <input type="text"></input>
        <input type="submit" class="hide"></input>
    </div>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYbk1deYkS-RaJV45xOxm2z5TQHA9r6V8">
    </script>
    <script src="js/browseMapScript.js"></script>
</body>
</html>
